body{
  padding-top: 20px;
}
p,h1, h2, h3{
  text-align: center;
}

.logo{
  margin: 0 auto;
  height: 250px;
  width: 250px;
  background-color: #67c09d;
  border-radius: 150px;
}

#image-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  width: 80%;
  height: auto;
  box-sizing: border-box;
}

.instructions{
  margin: 0 auto;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
  @-webkit-keyframes mymove {
    50% {border-radius: 60px;}
}

#image1, #image2, #image3{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #67c09d;
}

#chartDisplay{
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 400px;
}
#voteDisplay{
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  display: block;
  width: 80%;
  height: 400px;
}
