body{
  font-family: Times, serif;
  background-color: #67c09d;
}

#main-header{
  color: #ffffff;
}

h1{
  color: #000000;
}

#image-container{
  background-color: #000000;
}

#chart-display{
  background-color: #ffffff;
}

#voteDisplay{
  background-color: #ffffff;
  color: #67c09d;
}
