body{
font-family: 'Poiret One', cursive;
background-color: #67c09d;

background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
}

#main-header{
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 60px;
  box-sizing: border-box;
}

.instructions{
  color: #ffffff;
  background-color: #ef4136;

}

#chartDisplay{
  background-color: #ffffff;
  color: #67c09d;
  border-left: 2px solid #67c09d;
  border-right: 2px solid #67c09d;
  box-sizing: border-box;
}

#voteDisplay{
  background-color: #ffffff;
  color: #67c09d;
  border-left: 2px solid #67c09d;
  border-right: 2px solid #67c09d;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
